{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":14},"end":{"row":7,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0,"cleansed":true},"hash":"64d59cf04ac0f69b977b1ddea1fcaff037ca7256","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1572465746136}