{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 m12 centre-align">
      <div class="card" >
        <img class="card-img-top" style="height: 500px;" src="{{MEDIA_URL}}{{ product.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }} {{comments.count }}</h5><br><br>
          <p class="card-text">
            <b>Price: </b>${{product.price}} <br><br>
            <b>Year: </b> {{product.year}}<br><br>
            <b>Significant Events: </b> {% if product.event1 != null %} {{product.event1}} {% endif %} {% if product.event2 != null %} {{ product.event2 }} {% endif %} {% if product.event3 != null %} {{product.event3}} {% endif %}
            <br><br><b>Description:</b>{{product.description}}
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="card-title">
                                <p>Buy now for ${{product.price}} </p> <button class="btn btn-success" type="submit">Add</button>
                               
                            </span>
                        </div>
                    </form>
          </p>
        </div>
        
      </div>
      
      <div class="row">
        <h1>List of comments</h1>
             List of all products registered in db 
            {% for comment in comments %}
            {% if comment.prod_id == id %}
              <div class="col-md-12 col-sm-12 col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">NAME: {{ comment.user }}</h5>
                      <p class="card-text">CONTENT: {{comment.content}}</p>
                       <p class="card-text">RATE: {{comment.rate}}</p>
                       <p class="card-text">ID {{comment.prod_id}}</p>
                    </div>
                  </div>
              </div>
            {% endif %}
    {% endfor %}

</div>
      
      <form role="form" method="post" id="comment-form" action="{% url 'create_comment' product.id %}">
    <legend>Make a Comment</legend>

    <div class="form-group col-md-6">
        {{ comment_form|as_bootstrap }}
    </div>
    
    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Comment">
    </div>
    </form>
     
{% endblock %}