{% extends "base.html" %}
{% block content %}
    
<div class="row">
    {% for product in products %}
     
     <div class="card col s12 m6 l4 medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{MEDIA_URL}}{{ product.image}}>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ product.name }}<i class="material-icons right">more_vert</i></span>
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
           {% csrf_token %}
           <div class="input-group">
               <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity: ">
               <span class="input-group-btn">
                   <button class="btn btn-success" type="submit">Add</button>
               </span>
           </div>
           </form>
        </div>
        <div class="card-reveal">
          <span class="card-title activator grey-text text-darken-4">{{ product.description }}<i class="material-icons right">more_vert</i></span>
            
        </div>
     </div>

    {% endfor %}

</div>

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}