{% extends "base.html" %} {% block content %}
<div class="display">

            <form action="{% url 'search' %}" method="get"class="active-purple-3 active-purple-4 mb-4">
                <input class="form-control" type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="row">
            <!-- List of all products registered in db -->
            {% for product in products %}
            <div class="col-md-4 col-sm-12">
                    <div class="card">
                      <img class="card-img-top" style="height: 200px" src={{MEDIA_URL}}{{ product.image}} alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{product.price}}</p>
                        <a href="{% url 'view_specific_product' product.id %}"class="btn btn-primary">View more</a>
                      </div>
                </div>
            </div>

    {% endfor %}

</div>

<ul class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <a href="?page=1">&laquo; first</a>
            
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span> {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}">next</a>
    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
</ul>

{% endblock %}