{% extends "base.html" %}
{% block content %}

 <div class="container">
    <div class="row">
    <div class="col s12 m12 centre-align">
      <div class="card">
        <div class="card-image medium">
          <img src="{{MEDIA_URL}}{{ product.image}}">
          <span class="card-title">{{product.name}}</span>
        </div>
        <div class="card-content">
          <div class="row">
            <p><b> Description</b> {{product.description}}</p>
          </div>

        </div>


        <div class="card-action">
          <h4>See what others have said..</h4>
        
          <form method="post" action="{% url 'create_comment' product.id %}" class="accountform">
            <fieldset class="form-group">
                <legend>Create a new account</legend>
                <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                {% csrf_token %}
                {{  comment_form|as_bootstrap }}
                <button type="submit" class="btn btn-primary">Create account</button>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>
       </div>
{% endblock %}