{% extends "base.html" %}
{% block content %}


    <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content ">
          <span class="card-title">Welcome, {{ user.username }}!</span>
            <p>You are logged in with this email: {{user.email}}</p>
            <h3>Orders</h3>
            <p>This is a list of all the orders you have made in the past:</p>
                <div class="row">
                    <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/3">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the first order</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/2">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the second order</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/1">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the third order</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            
            <h3>In process</h3>
            <p>Here are your current orders being processed at the moment.</p>
            <div class="row">
                    <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the first order in process</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/5">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the second order in process</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s3 m3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/4">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>This is the third order in process</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
            </div>
  </div>
</div>

{% endblock %}