{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

            <!-- List of all products registered in db -->
            <div class="row">
                            <h3>Here is your cart..</h3>
            </div>
            <div class="row">
                 {% for item in cart_items %}
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="card">
                  <img class="card-img-top" style="height: 200px" src="{{MEDIA_URL}}{{item.product.image}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <p class="card-text">${{ item.product.price}}</p>
                    <form class="form-inline" method="post" action="{% url 'delete_from_cart' item.id %}"}>
                       {% csrf_token %}
                       <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Remove</button>
                    </form>
                  </div>
                </div>
            </div>

    {% endfor %}
           

</div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <p> Total: $
        <span style="float:right" class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
         <a href="{% url 'checkout' %}" class="btn btn-success" style="float:right" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                     
        </div>
    </div>

{% endblock %}